# personal files
todo.md
docs/
.vscode

# python stuff
__pycache__/
.pytest_cache/
.venv/

# environment files
.env

# generated build artifacts
agents/kg/data/*
!agents/kg/data/.gitkeep
!agents/kg/data/qald_10_executed.json
!agents/kg/data/qald_9_plus_test_dbpedia_executed.json

