# personal files
todo.md
.vscode
docs/

# python stuff
__pycache__/
.pytest_cache/
.venv/

# other
output_repomix
esporta_repomix.ps1
test_logs.txt

# environment files
.env

# generated build artifacts
agents/kg/data/*
!agents/kg/data/.gitkeep
